{% extends "base.html" %}

{% block content %}
    <div class="d-flex align-items-center">
        <h1 class="m-auto">{% if form.instance.pk %}Mitarbeiter bearbeiten{% else %}Neuen Mitarbeiter hinzufügen{% endif %}</h1>
    </div>
    <hr>
    <div class="card bg-dark text-light">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group row">
                        <label for="{{ field.id_for_label }}" class="col-sm-6 col-form-label text-left">{{ field.label }}</label>
                        <div class="col-sm-6">
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm-6 offset-sm-6 mt-2">
                        <button type="submit" class="btn btn-primary">Speichern</button>
                        <a href="{% url 'mitarbeiter_list' %}" class="btn btn-secondary">Abbrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
