{% extends 'base.html' %}

{% block content %}
    <div class="d-flex align-items-center">
        <h1 class="m-auto">Mitarbeiter Details</h1>
    </div>
    <hr>
    <table class="table bg-dark text-light">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ mitarbeiter.pk }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mitarbeiter.user }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ mitarbeiter.position }}</td>
            </tr>
            <tr>
                <th>Geburtsdatum</th>
                <td>{{ mitarbeiter.geburtsdatum }}</td>
            </tr>
            <tr>
                <th>Aktionen</th>
                <td>
                    <a href="{% url 'mitarbeiter_list' %}" class="btn btn-sm btn-secondary">Zurück zur Liste</a>
                    <a href="{% url 'mitarbeiter_delete' mitarbeiter.pk %}" class="btn btn-sm btn-danger">Löschen</a>
                    <a href="{% url 'mitarbeiter_update' mitarbeiter.pk %}" class="btn btn-sm btn-warning">Bearbeiten</a>
                </td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
